#style-8::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #fffbeb;
}

#style-8::-webkit-scrollbar {
    width: 5px;
    background-color: #fffbeb;
}

#style-8::-webkit-scrollbar-thumb {
    background-color: #000000;
}
