#style-8::-webkit-scrollbar-track {
    border: 1px solid #22c55e;
    background-color: #09090b;
}

#style-8::-webkit-scrollbar {
    width: 5px;
    background-color: #09090b;
}

#style-8::-webkit-scrollbar-thumb {
    background-color: #22c55e;
}
